// Component: AnimatedNavbarItem
.navbar-item-class {
	color: currentColor;
	font-size: clamp(1rem, calc(1rem + 1.5vw + 0.8vh), 3.2rem);
	text-decoration: none;
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;

	& span {
		white-space: pre;
		display: inline-block;

		& > span {
			letter-spacing: normal;
			transition: visibility 0.7s linear, transform 0.7s cubic-bezier(0.19, 1, 0.22, 1),
				letter-spacing 0.7s linear;
		}
	}

	& > span:nth-child(1) {
		& > span {
			visibility: visible;
			opacity: 1;
			transform: rotate3d(1, -0.3, 0, 0deg) translateX(0);
		}
	}

	& > span:nth-child(2) {
		text-transform: uppercase;
		font-family: 'IM Fell French Canon', serif;
		position: absolute;
		top: 0;
		left: 0;
		& > span {
			visibility: hidden;
			opacity: 0;
			transform: rotate3d(1, -0.3, 0, 90deg) translateX(0);
		}
	}
	&:hover {
		color: var(--secondary);
		& > span:nth-child(1) {
			& > span {
				visibility: hidden;
				opacity: 0;
				transform: rotate3d(1, -0.3, 0, 90deg) translateX(3rem);
				letter-spacing: 10px;
			}
		}
		& > span:nth-child(2) {
			& > span {
				visibility: visible;
				opacity: 1;
				transform: rotate3d(1, -0.3, 0, 0deg) translateX(3rem);
				letter-spacing: 10px;
			}
		}
	}
}
